@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

:root {
  --transparent-color: transparent;
  --black-color: ;
}

header {
  margin: 48px 96px 0px 96px;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 43px;
}
header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li ul .Eatly {
  color: #6c5fbc;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  margin-left: 11px;
}
header nav ul li ul .Nav-item {
  color: #606060;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 53px;
}
header nav ul li ul .Nav-item a {
  color: #606060;
}
header nav ul li ul .Menu-link:hover {
  color: #6c5fbc;
}
header nav ul li ul .Login a {
  color: #606060;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 700;
  margin-right: 40px;
}
header nav ul li ul li .Sign {
  border-radius: 17px;
  background: #6c5fbc;
  padding: 17px 26px;
  color: #f9f9f9;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header nav ul li ul li .Sign:hover {
  color: #6c5fbc;
  background: #FFF;
  border-color: #6c5fbc;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 119px 96px 0px 96px;
}
section section .Over1000 {
  color: rgba(32, 31, 31, 0.2);
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
}
section section .Text-enjoy {
  color: #201f1f;
  font-family: "Poppins";
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  margin-top: 18px;
}
section section .Text-eatly {
  opacity: 0.7;
  color: #676767;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 16px;
  width: 500px;
  height: 50px;
}
section section .Color-fiolet {
  color: #5c4eae;
}
section section .Get-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 71px;
}
section section .Get-started {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 12px;
  background: #6c5fbc;
  padding: 18px 31px 17px 30px;
}
section section .Go-pro {
  color: #6c5fbc;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 12px;
  border: 1.5px solid #6c5fbc;
  padding: 18px 28px 17px 27px;
  margin-left: 18px;
}
section section .Star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
}
section section .Star-mr {
  margin-left: 20px;
}
section section .Recenze {
  margin-left: 10px;
}
section section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section section .Illustration {
  width: 41px;
  height: 24px;
  position: absolute;
  top: 225px;
  left: 1380px;
}
section section .Arrow {
  width: 101px;
  height: 97px;
  position: absolute;
  top: 350px;
  left: 1272px;
}
section section .Img-food_big {
  background-color: #6c5fbc;
  border-radius: 50%;
  padding: 30px 30px 0px 0px;
  z-index: 0;
}
section section .Img-text {
  padding: 5px 0px 5px 17px;
  border-radius: 16px;
  background: #fff;
  width: 330px;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 248px;
  left: 1050px;
}
section section .Img-text .Img-small {
  padding: 5px 0px 5px 0px;
}
section section .Img-text .Chicken-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}
section section .Img-text .Chicken-text .Chicken-hell {
  color: #323142;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 17px;
}
section section .Img-text .Chicken-text .One-the-way {
  color: #323142;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
section section .Img-text .None-time {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
}
section section .Img-text .Time-pm {
  text-align: right;
  padding: 0px 16px 10px 0px;
}
section .Graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 590px;
  left: 770px;
  width: 210px;
  height: 205px;
  border-radius: 16px;
  border: 0.278px solid #EDF2F7;
  background: #fff;
  -webkit-box-shadow: 14.12px 18.827px 37px 0px rgba(26, 32, 44, 0.15);
          box-shadow: 14.12px 18.827px 37px 0px rgba(26, 32, 44, 0.15);
}
section .Graf li {
  color: #828282;
  font-family: Poppins;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}
section .Graf li span {
  margin-left: 23px;
}
section .Graf li .Graf-main {
  margin-left: 0px;
  border-radius: 14px;
  background: #6c5fbc;
  padding: 5px 10px;
  color: #fff;
}
section .Graf li .Graf-D {
  margin-left: 0px;
  border-radius: 14px;
  background: rgba(231, 231, 231, 0.92);
  padding: 5px 10px;
  color: #151515;
}
section .Illustration2 {
  position: absolute;
  top: 790px;
  left: 740px;
}

.Fiolet-pro {
  background-color: #665AB5;
  height: 220px;
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 30px;
}
.Fiolet-pro .Fiolet-pro__num {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 43.2px;
  font-style: normal;
  font-weight: 700;
  margin-top: 57px;
}
.Fiolet-pro .Fiolet-pro__text {
  color: #c5bfed;
  text-align: center;
  font-family: Inter;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}
.Fiolet-pro .Fiolet-pro__bor {
  border-right: 1px solid rgba(197, 197, 197, 0.3764705882);
  border-left: 1px solid rgba(197, 197, 197, 0.3764705882);
  padding-left: 60px;
  padding-right: 60px;
}

.Mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 120px;
}
.Mobile-container .Mobile-img {
  margin-left: 180px;
}
.Mobile-container .Mobile-img .Mobile-img__illu {
  width: 52px;
  height: 61px;
  position: absolute;
  top: 1250px;
  left: 580px;
}
.Mobile-container .Mobile-text {
  margin-top: 80px;
  margin-right: 50px;
}
.Mobile-container .Mobile-text .Mobile-text__ul {
  width: 600px;
}
.Mobile-container .Mobile-text .Mobile-text__ul .Mobile-text__quality {
  color: #18181b;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 60px;
}
.Mobile-container .Mobile-text .Mobile-text__ul .Mobile-text__quality .Quality {
  color: #6c5fbc;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.Mobile-container .Mobile-text .Mobile-text__ul .Mobile-text__li {
  color: #676767;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
  list-style: disc;
}
.Mobile-container .Mobile-text .Button-down {
  border-radius: 14px;
  background: #6c5fbc;
  color: #fff;
  padding: 20px 25px;
  margin-top: 86px;
  border: 1px solid #6c5fbc;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.Mobile-container .Mobile-text .Img-vector {
  position: absolute;
  top: 1785px;
  left: 850px;
}
.Mobile-container .Mobile-text .Button-down:hover {
  background: white;
  color: #6c5fbc;
  border-color: #6c5fbc;
}

.Food-container {
  border-top: 1px solid #cbcbcb;
  margin: 0px 96px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Food-container .Food-title {
  text-align: center;
  margin-top: 100px;
}
.Food-container .Food-title li h2 {
  text-align: center;
  color: #323142;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
}
.Food-container .Food-title li h2 span {
  color: #6c5fbc;
}
.Food-container .Chicken-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Food-container .Chicken-box__container .Chicken-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: 1px solid #F4F4F6;
  background: #fff;
  width: 397px;
  height: 293px;
  margin-top: 87px;
  padding-bottom: 18px;
  margin-left: 30px;
}
.Food-container .Chicken-box__container .Chicken-box li img {
  max-width: 100%;
  border-radius: 30px 30px 0px 0px;
}
.Food-container .Chicken-box__container .Chicken-box .P-text {
  padding: 14px 26px 17px 34px;
}
.Food-container .Chicken-box__container .Chicken-box .P-text .Healthy {
  border-radius: 5.4px;
  background: #f7edd0;
  width: 62px;
  padding: 3px 8px;
  color: #daa31a;
  font-family: poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.Food-container .Chicken-box__container .Chicken-box .P-text .The-chicken__king {
  color: #323142;
  font-family: poppins;
  font-size: 25px;
  font-weight: 600;
}
.Food-container .Chicken-box__container .Chicken-box .P-text p span {
  margin-left: 193px;
}
.Food-container .Food-container__vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 45px;
  border-bottom: 1px solid #cbcbcb;
}
.Food-container .Food-container__vector .Food-container__vector-img {
  margin-top: 46px;
  margin-bottom: 85px;
}
.Food-container .Food-container__vector .Food-container__vector-img a {
  color: #acadb9;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-right: 3px;
}

.Dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Dishes .Dishes-container {
  padding-top: 100px;
  padding-bottom: 53px;
  text-align: center;
}
.Dishes .Dishes-container h2 {
  color: #323142;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
}
.Dishes .Dishes-container h2 span {
  color: #6c5fbc;
}
.Dishes .Dishes-list {
  padding: 0px 73px 0px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Dishes .Dishes-list .Dishes-item {
  width: 160px;
  height: 290px;
  border-radius: 35px;
  border: 1px solid #F4F4F6;
  background: #fff;
}
.Dishes .Dishes-list .Dishes-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Dishes .Dishes-list .Dishes-item ul .Dishes-fav {
  margin-top: 18px;
  margin-left: 125px;
}
.Dishes .Dishes-list .Dishes-item ul .Dishes-food {
  margin-left: 3px;
}
.Dishes .Dishes-list .Dishes-item ul .Dishes-tag {
  border-radius: 3px;
  background: #f7edd0;
  color: #daa31a;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 400;
  margin-left: 15px;
  padding: 2px 8px;
}
.Dishes .Dishes-list .Dishes-item ul .Dishes-name {
  color: #323142;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}
.Dishes .Dishes-list .Dishes-item .Dishes-min {
  color: #8e97a6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}
.Dishes .Dishes-list .Dishes-item .Dishes-dol {
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323142;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}
.Dishes .Dishes-list .Dishes-item .Dishes-dol li span {
  color: #8e97a6;
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;
}
.Dishes .Dishes-list .Dishes-item .Dishes-dol li button {
  margin-left: 35px;
}
.Dishes .Dishes-list .Dishes-item .Dishes-vector .Dishes-container__vector-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
  margin-top: 60px;
  margin-bottom: 85px;
}
.Dishes .Dishes-list .Dishes-item .Dishes-vector .Dishes-container__vector-img a {
  color: #acadb9;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-right: 5px;
}

.Control-purchases {
  border-top: 1px solid #cbcbcb;
  margin: 0px 96px;
  margin-top: 140px;
  margin-bottom: 124px;
}
.Control-purchases .Control {
  margin-top: 20px;
}
.Control-purchases .Control h2 {
  color: #18181b;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 34px;
}
.Control-purchases .Control h2 span {
  color: #6c5fbc;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
}
.Control-purchases .Control ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  background: #fff;
  padding: 3px 12px;
  margin-top: 11px;
  width: 250px;
}
.Control-purchases .Control ul li {
  color: #323142;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
}
.Control-purchases .Control ul li p {
  margin-left: 13px;
  margin-right: 30px;
}
.Control-purchases .Control ul li .One-delivered {
  color: #323142;
  font-family: poppins;
  font-size: 9px;
  font-weight: 500;
}
.Control-purchases .Control ul li .Cancelled {
  color: #f1534e;
  font-family: poppins;
  font-size: 9px;
  font-weight: 500;
}
.Control-purchases .Control ul li:last-child {
  margin-left: 0px;
  margin-top: 50px;
  color: #acadb9;
  font-family: Poppins;
  font-size: 9px;
  font-weight: 500;
}
.Control-purchases .Purchases {
  border-radius: 18px;
  border: 1px solid #EDF2F7;
  background: #fff;
  padding: 26px 26px 0px 26px;
  height: 331px;
  margin-top: 140px;
  margin-left: 350px;
}
.Control-purchases .Purchases .Purchases-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Control-purchases .Purchases .Purchases-btn .Purchas {
  color: #1a202c;
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  margin-right: 180px;
}
.Control-purchases .Purchases .Purchases-btn .This-month {
  border-radius: 8px;
  background: #fafafa;
  padding: 8px 13px;
  color: #1a202c;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
}
.Control-purchases .Purchases .Block-expence {
  padding: 18px;
  border-radius: 13px;
  border: 1px solid #EDF2F7;
  margin-top: 26px;
}
.Control-purchases .Purchases .Block-expence li .Block-expence__item {
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Control-purchases .Purchases .Block-expence li .Block-expence__item li .Block-expence__img {
  background: #f4f0ff;
  border-radius: 50%;
  padding: 8px;
}
.Control-purchases .Purchases .Block-expence li .Block-expence__item li p {
  margin-right: 75px;
  margin-left: 22px;
}
.Control-purchases .Purchases .Block-expence li .Color {
  width: 340px;
  height: 7px;
  border-radius: 55px;
  background: #6c5fbc;
  margin-top: 15px;
}
.Control-purchases .Purchases .Block-expence li .Color .li {
  background: black;
  width: 211px;
  height: 7px;
  border-radius: 55px;
}
.Control-purchases .Purchases .Block-vocher {
  margin-top: 15px;
  border-radius: 13px;
  border: 1px solid #EDF2F7;
  padding: 18px;
}
.Control-purchases .Purchases .Block-vocher .Block-vocher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Control-purchases .Purchases .Block-vocher .Block-vocher__item li .Block-vocher__img {
  background: #f4f0ff;
  border-radius: 50%;
  padding: 8px;
}
.Control-purchases .Purchases .Block-vocher .Block-vocher__item li p {
  margin-right: 90px;
  margin-left: 30px;
}
.Control-purchases .Purchases .Block-vocher .Color-orange__red {
  width: 340px;
  height: 7px;
  background: #fbad18;
  margin-top: 15px;
  border-radius: 55px;
}

.Customer-container {
  padding: 0;
  margin: 0;
  margin: 0px 90px;
  border-top: 1px solid #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Customer-container h2 {
  text-align: center;
  margin-top: 116px;
  color: #323142;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
}
.Customer-container h2 span {
  color: #6c5fbc;
  font-family: Poppins;
}

.Comment-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.Comment-container .Comment-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 528px;
  height: 346px;
  border-radius: 30px;
  background: #fff;
  padding: 38px 48px;
  margin-top: -50;
}
.Comment-container .Comment-ul li ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Comment-container .Comment-ul li ul li ul li .Alex {
  border-radius: 50%;
  margin-right: 10px;
}
.Comment-container .Comment-ul li ul li ul li p {
  margin-right: 160px;
}
.Comment-container .Comment-ul li ul li .Comment-text {
  margin-top: 38px;
}
.Comment-container .Comment-ul li ul li .Comment-star {
  margin-top: 38px;
}

.Akce-container .Akce-ul {
  padding: 0px 90px;
  border-radius: 30px;
  width: 100%;
  height: 280px;
  background: #6c5fbc;
}
.Akce-container .Akce-ul .Akce-img {
  position: absolute;
  left: 900px;
  top: 4750px;
}
.Akce-container .Akce-ul .Akce-get {
  margin-top: 37px;
  color: rgba(255, 255, 255, 0.5960784314);
  font-family: POppins;
  font-size: 70px;
  font-weight: 800;
}
.Akce-container .Akce-ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Akce-container .Akce-ul ul .Form {
  width: 339px;
  height: 53px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5960784314);
  margin-top: 20px;
  padding-left: 20px;
}
.Akce-container .Akce-ul ul .Akce-sumbit {
  width: 80px;
  height: 53px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5960784314);
  margin-top: 20px;
}

.Footer {
  margin-top: 150px;
  background: #eaeaea;
  padding: 80px 90px;
}
.Footer .Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 44px;
}
.Footer .Nav .Eatly {
  color: #6c5Fbc;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  margin-right: 700px;
}
.Footer .Nav .Footer-btn {
  color: #999;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-left: 60px;
  background: #eaeaea;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.Footer .Nav .Footer-btn:hover {
  color: #6c5Fbc;
}
.Footer .Footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 60px;
}
.Footer .Footer-socials .Footer-all__rig {
  color: #999999;
}
.Footer .Footer-socials .Footer-soci {
  margin-left: 700px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

li {
  list-style: none;
}